/* You can add global styles to this file, and also import other style files */
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.divider {
  margin-top: 2rem;
  margin-bottom: 10rem;
}
input, textarea {
  height: 3rem !important;
  font-size: 1rem !important;
  line-height: 2px;
}
label {
  font-size: 0.9rem !important;
  padding: 0.75rem 0.75rem !important;
}
p {
  margin-top: 1rem;
  font-size: 1.1rem !important;
}
#about {
  padding-top: 25rem;
  padding-bottom: 25rem;
}