<p id="heading">
  With every line of code, 
</p>
<p class="lead">
  I strive to make the web a beautiful place.
  I design and build digital products.
  I specialise in creating interactive 
  experiences and functional interfaces.
</p>
<div class="section">
  <p class="display-5 margin-heading" id="tech-stacks">
    My tech stacks: 
  </p>
  <div class="row">
    <div class="col">
      <img src="../../assets/html-5.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/css-3.png" class="img-fluid ico" alt="adobexd">
    </div>
    <div class="col">
      <img src="../../assets/javascript.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/java.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/flutter.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/dart.png" class="img-fluid ico" alt="photoshop">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="../../assets/photoshop.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/illustrator.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/xd.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/figma.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/vscode.png" class="img-fluid ico" alt="photoshop">
    </div>
    <div class="col">
      <img src="../../assets/github.png" class="img-fluid ico" alt="photoshop">
    </div>
  </div>
</div>