<div class="container-fluid p-0 position-relative" style="margin-top:6rem;">
  <img src="../../assets/images/bg-01.jpg" alt="Banner" class="w-100" height="250">
  <div class="container position-absolute top-50 start-50 translate-middle">
    <h1 class="display-5 fw-bolder text-white">About LazShop</h1>
    <p class="text-white">LazShop is a new Philippine based e-Commerce website.</p>
  </div>
</div>
<div class="container mt-5">
  <div class="row ">
    <div class="col-lg-7 align-self-center">
      <h4 class="fw-bolder">Our Story</h4><hr>
      <p style="line-height: 2;">
        LazShop is an international B2C fast fashion e-commerce company. The company mainly focuses on women's wear, men's apparel, children's clothes, accessories, shoes, bags and other fashion items. LazShop mainly targets Southeast Asia, Europe, America, Australia, and the Middle East along with other consumer markets. The brand was founded in 2019, and since then it has upheld the philosophy that "everyone can enjoy the beauty of fashion." Its business covers more than 150 countries and territories around the world.
      </p>
    </div>
    <div class="col-lg-5 d-flex justify-content-center position-relative">
      <img src="../../assets/images/about-01.jpg" width="400" style="z-index: 99;">
      <div class="border border-dark position-absolute img-border"></div>
    </div>
  </div>
</div>